<!--
*****************************************************************
*
* recentretrieval.html
*
* @description 최근 검색 이력 화면
*
*
*****************************************************************
*
* @version 1.0.2    2019/11/17 14:16     dorbae	검색일시 날짜 포맷 변경
* @version 1.0.1    2019/11/17 02:30     dorbae	불필요 코드 정리
* @version 1.0.0    2019/11/15 00:24     dorbae	최초 생성
* @since 2019/11/15 00:24
* @author dorbae(dorbae.io @ gmail.com)
*
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>

<div class="jumbotron">
    <h4>최근 검색어</h4>
</div>

<!-- 최근 검색어 테이블 -->
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">번호</th>
        <th scope="col">검색어</th>
        <th scope="col">검색일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="keyword: ${keywords}">
        <td th:text="${keywordStat.index+1}"></td>
        <td th:text="${keyword.keyword}"></td>
        <td th:text="|${#temporals.format(keyword.createdDate, 'yyyy-MM-dd HH:mm:ss')}|"></td>
    </tr>
    </tbody>
</table>
<!-- END:인기 검색어 테이블 -->

</body>
</html>